@import "@fortawesome/fontawesome-free/css/all.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .border-gradient {
        border-width: 8px;
        border-image: linear-gradient(to right, #ff7e5f, #feb47b) 1;
        border-radius: 9999px; /* Lingkaran untuk border */
    }
}